.location-container {
  cursor: auto;
  max-width: fit-content;
  height: fit-content;
  background: white;
  position: absolute;
  top: 78px;
  left: 0;
  border-radius: rem(32px);
  box-shadow: 0 0 0 1px #0000000a, 0 8px 16px #00000026;
  padding: 2.1333333333em 32px;
  flex-direction: row;

  & :nth-child(-n + 2) {
    font-weight: 400;
  }
  .map-header {
    padding-inline-start: 4px;
  }

  .popup-lt-side.flex {
    flex-direction: column;
    flex: 2;
    padding: 10px;

    .maps-wrapper {
      height: 100%;
      width: 100%;
      -webkit-column-gap: 5px;
      column-gap: 5px;
      display: grid;
      grid-template-columns: repeat(3, min-content);
      row-gap: 24px;
      max-width: 100%;
      margin: auto;
      max-height: 352px;

      .map-loc {
        height: 168px;
        width: 142px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 4px;
        gap: 7px;
        cursor: pointer;
        span{
      color: $clr3;
        }
        .img-con {
          background-position: center;
          background-size: cover;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          border: 1px solid rgb(221, 221, 221);
          transition: border 0.3s;
          &:hover {
            border: 1px solid $clr2;
          }
        }
      }
    }
  }
}
