.orders-summary {
    margin-top: $header-height;

    // padding-top: $header-height / 2;
    .host-summary {
        padding: 16px;
        .stats-header {
            border-bottom: .5px solid $clr7;
        }

        .stats {
            display: grid;
            grid-template-columns: 1fr .25fr;
        }

        & span{
            color: #0b7f52;
        }
    }

    .orders-list-title {
        margin-inline-start: 16px;
        margin-bottom: 24px;
    }

    table {
        width: 100%;

        tr:first-of-type {
            background-color: $clr7;
        }

        th {
            text-align: start;
            padding-inline-start: 16px;
        }

        & .buyer-img-container {
            height: 48px;
            width: 48px;
            border-radius: 50%;
            overflow: hidden;

            img {
                object-fit: cover;
                object-position: center;
            }
        }

        tr:last-of-type {
            border: none;
        }

        tr {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            justify-content: left;
            min-height: 76px;
            font-size: em(14px);
            border-bottom: .5px solid $clr7;

            .stay-name,
            .buyer {
                grid-column: 2 / -1;
                padding-inline-end: 8px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .total-payout {
                grid-column: -1;
            }

            .center-td {
                text-align: center;
            }

            .buyer-details-td {
                padding: 8px;
                flex-direction: column;
            }

            & p {
                padding-top: 8px;
                margin: 0;
            }


            & select {
                font-family: airBnb-Reg;
                border: none;
                padding: 12px 6px;
                color: $clr4;
                border: .5px solid $clr7;
                border-radius: 12px;
            }

            .el-input__wrapper {
                display: inherit;
            }

            .el-select-dropdown__item.selected {
                color: $clr2 !important;
            }

        }
    }

    .status-btn {
        border-radius: 12px;
        color: $clr8;
    }

    .approved {
        color: #08613f;
    }

    // .bg-approved {
    //     background-color: rgba(#08613f, 25%);
    // }


    .pending {
        color: #E3B505;
    }

    // .bg-pending {
    //     background-color: rgba(#E3B505, 25%);
    // }

    .declined {
        color: #DB504A;
    }

    // .bg-declined {
    //     background-color: rgba(#DB504A, 25%);
    // }

    .no-padding-inline {
        padding-inline: 0;
    }
}