.order-confirm {
  margin-top: $header-height * 1.5;
  grid-column: 2;

  .header {
    margin-bottom: em(15px);
    padding-bottom: 0;
  }
  .subtitle {
    margin-bottom: em(22px);
  }

  p {
    max-width: initial;
  }

  .main-content {
    align-items: flex-start;
    gap: 4em;
  }

  li > .self-end {
    margin-bottom: em(15px);
  }

  .reservation-details {
    width: 100%;
    padding-top: em(22px);

    h3 > p {
      margin-bottom: em(10px);
    }
  }

  .confirmation-btns {
    // margin-top: em(55px);
    padding: 0;
    > :first-child {
      background-color: $clr4;
      color: $clr8;
      border-radius: em(8px);
      margin: 0 0 15px;
      max-height: 48px;
    }
    > * {
      flex: 1;
      width: 100%;
      padding: 0;
    }
    .gradient-button {
      > * {
        margin: 0;
      }
    }
  }

  .content-container {
    flex-basis: 50%;

    .list-item {
      margin-bottom: em(15px);

      .last-item {
        margin-bottom: 3em;
      }
    }
  }

  .stay-container {
    flex-basis: 50%;
  }
}
