.order-confirm {
  // margin-top: $header-height * 1.5;
  margin-top: 20vh;
  grid-column: 2;

  .header {
    color: lighten($clr3, 5%);
    margin-bottom: em(20px);
    padding-bottom: 0;
    .arrow-back {
      display: inline;

      svg {
        display: inline !important;
      }
    }
    .arrow-back:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .subtitle {
    margin-bottom: em(22px);
  }

  p {
    max-width: initial;
  }

  .main-content {
    // align-items: flex-start;
    gap: 4em;
  }

  & .buyer-img-container {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }
  li > .self-end {
    margin-bottom: em(15px);
  }

  .reservation-details {
    width: 100%;
    padding-top: em(22px);

    h3 > p {
      margin-bottom: em(10px);
    }
  }

  .confirmation-btns {
    .gradient-button {
      > * {
        margin: 0;
      }
    }
  }

  .content-container {
    flex-basis: 50%;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border: 1px solid rgb(221, 221, 221);
    padding: 20px 24px 24px;

    .reservation-details {
      position: relative;

      > h2 {
        margin: 1.5em 0;
      }

      .btn-back {
        color: $clr4;
        position: absolute;
        top: 0;
        text-decoration: underline;
        font-size: 12px;
      }
      .btn-back:hover {
        cursor: pointer;
      }

      .buyer-details {
        .clean-margin {
          .arrow-back {
            display: inline;
            svg {
              display: inline !important;
            }
          }
          .arrow-back:hover {
            cursor: pointer;
          }
        }
      }
    }

    .list-item {
      margin-bottom: 1em;

      .last-item {
        margin-bottom: 3em;
      }
    }
  }

  .stay-container {
    flex-basis: 50%;
    justify-content: space-between;

    .stay-img {
      border-radius: 0.75em;
      object-fit: cover;
      aspect-ratio: 528/355;
      height: 355px;
    }
  }
}
