.stay-header {
  .details-header > * {
    font-family: airBnb-Med !important;
    font-weight: 500 !important;
    font-size: em(26px, 15px) !important;
    line-height: 1.5em !important; //(in the context of 18px of h1, this should be 30px)

    margin-block-start: 30px !important;
    margin-block-end: 0;

    @include for-mobile-layout {
      font-size: em(19px, 15px) !important;
    }
  }

  .stay-details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include for-mobile-layout {
      flex-direction: column;
      align-items: flex-start;
    }

    .action-btns {
      display: flex;
      gap: 0.3em;

      font-size: em(14px, 15px);
      text-decoration: underline;
      @include for-mobile-layout {
        visibility: hidden;
      }
    }
    .action-btn {
      display: flex;
      align-items: center;
      padding: 0 8px;
      gap: 8px;

      &.save {
        padding-right: 0;
      }
    }
    .action-btn:hover {
      cursor: pointer;
    }
    .reviews-rates-container {
      display: flex;
      justify-content: flex-start;
    }
  }

  @include for-mobile-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
