.stay-details {
  font-family: airBnb-Med;
  grid-column: 2;
  margin-top: 67px;

  .reg-text {
    font-family: airBnB-Reg;
    font-size: em(14px, 15px);
  }

  .rate {
    display: flex;
    align-items: center;
  }

  .details-ratings-container {
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-family: airBnb-Med;
    font-size: em(14px, 15px);

    > P {
      margin: 0;
    }

    .address,
    .reviews-amount {
      text-decoration: underline;
      .separator {
        margin: 0 0.57em; //8px in the context of 14px
        text-decoration: none;
      }
    }
    .address:hover,
    .reviews-amount:hover {
      cursor: pointer;
    }
    .separator {
      margin: 0 0.3em;
      text-decoration: none;
    }
  }

  .rate .star-svg {
    font-size: em(16px, 14px);
    padding-bottom: 0.1em;
  }

  .details-reserve-container {
    display: flex;

    .summary-and-details {
      flex-basis: 58%;
      // width: 58%;
      font-family: airBnb-Med;

      @include for-mobile-layout {
        flex-basis: 100%;
      }

      .host-img {
        border-radius: 50%;
        width: 56px;
        height: 56px;
        box-shadow: 0 0 0 1px #ede8e8;
        object-fit: cover;
        aspect-ratio: 1/1;
      }
    }
  }

  // @include for-mobile-layout {
  //   background-color: pink;
  // }

  // @include for-narrow-layout {
  //   background-color: lightgreen;
  // }

  // @include for-normal-layout {
  //   background-color: green;
  // }

  // @include for-wide-layout {
  //   background-color: black;
  // }
}
