.carousel {
  display: flex;
  overflow: hidden;
}

.carousel__viewport {
  display: flex;

  button:not(.el-carousel__button, .el-carousel__arrow) {
    padding: 0 !important;
    margin: 0 !important;
    // conflict
    min-width: 28px !important;
    min-height: 28px !important;
    // border: 1px solid $clr4;
    // border-radius: 50%;
    background-color: $clr8;
    color: $clr2;
    backdrop-filter: drop-shadow(10px 10px 10px $clr8);
    transition: box-shadow 0.2s ease;
  }

  button:not(.el-carousel__button, .el-carousel__arrow):hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    // transform: scale(1.04)
  }

  .carousel__track {
    padding: 0;
    gap: 36px;
    font-family: airBnb-Med;
    color: $clr4;
    list-style: none;

    .carousel__slide {
      width: max-content !important;

      &:last-child {
        width: 40px;
        height: 100%;
        background-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 0),
          white 40px
        );
        z-index: 1;
      }
      div {
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: em(8px, 15px);
        margin-top: 12px;
        padding: 4px 0 14px;

        button {
          border: transparent;
        }
      }
    }

    .carousel__slide:hover {
      color: $clr2;
      box-shadow: inset 0px -2px 0px 0px $clr5;
    }
    .carousel__slide:hover img{
      opacity: 1;
    }

    .selected {
      color: $clr2;
      box-shadow: inset 0px -2px 0px 0px $clr2;
    }

    img {
      display: block;
      width: 1.47em;
      height: 1.47em;
      opacity: .75;
    }

    .label-name {
      display: block;
      font-size: em(12px, 15px);
    }
  }
}

button.carousel__prev {
  width: 40px;
  height: 100%;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    white 40px
  );
  z-index: 1;
}
button.carousel__next {
  width: 40px;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    white 40px
  );
  z-index: 1;
}
.carousel__prev, .carousel__next{
  padding: 0 !important;
  margin: 0 !important;

  svg{
    border: 1px solid $clr5;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    color: $clr2;
  }
}

section.carousel:has(div:first-of-type):has(ol):has(li:first-child.carousel__slide--visible) button:first-of-type,
section.carousel:has(div:first-of-type):has(ol):has(li:last-child.carousel__slide--visible) button:last-of-type {
  display: none;
}