.stay-details {
  font-family: airBnb-Med;
  grid-column: 2;
  // margin-top: $header-height;
  margin-top: 67px;
  .details-header > * {
    font-family: airBnb-Med !important;
    font-weight: 500 !important;
    font-size: em(26px, 15px) !important;
    line-height: 1.6em !important; //(in the context of 18px of h1, this should be 30px)

    margin-block-start: 24px !important;
    margin-block-end: 0;
  }

  .reg-text {
    font-family: airBnB-Reg;
    font-size: em(14px, 15px);
  }

  .rate {
    display: flex;
    align-items: center;
  }

  .details-ratings-container {
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-family: airBnb-Med;
    font-size: em(14px, 15px);

    .address,
    .reviews-amount {
      text-decoration: underline;
      .separator {
        margin: 0 0.57em; //8px in the context of 14px
        text-decoration: none;
      }
    }
    .address:hover,
    .reviews-amount:hover {
      cursor: pointer;
    }
    .separator {
      margin: 0 0.3em;
      text-decoration: none;
    }
  }

  .rate .star-svg {
    font-size: em(16px, 14px);
    padding-bottom: 0.1em;
  }

  .stay-details-container {
    display: flex;
    justify-content: space-between;

    .action-btns {
      display: flex;
      gap: 0.3em;

      font-size: em(14px, 15px);
      text-decoration: underline;
    }
    .action-btn {
      display: flex;
      align-items: center;
      padding: 0 8px;
      gap: 8px;
    }
    .action-btn:hover {
      cursor: pointer;
    }
    .reviews-rates-container {
      display: flex;
      justify-content: flex-start;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: minmax(326px, 560px) repeat(2, minmax(155px, 272px));
    grid-template-rows: repeat(2, minmax(164px, 243px));
    grid-template-areas:
      'img0 img1 img2'
      'img0 img3 img4';
    gap: em(8px, 15px);

    margin-top: 24px;

    border-radius: 0.75em;
    overflow: hidden;
    width: fit-content;

    .img0 {
      grid-area: img0;
      max-height: 493.4px;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5 {
      max-height: 246.69px;
    }

    .img1 {
      grid-area: img1;
    }

    .img2 {
      grid-area: img2;
    }

    .img3 {
      grid-area: img3;
    }

    .img4 {
      grid-area: img4;
    }

    .img5 {
      grid-area: img5;
    }

    .gallery-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // aspect-ratio: 1.1/1;
    }
  }

  .details-reserve-container {
    display: flex;

    .summary-and-details {
      flex-basis: 58%;
      // width: 58%;
      font-family: airBnb-Med;
      .summary-container {
        display: flex;
        justify-content: space-between;

        padding-top: 48px;
        // padding-bottom: 18.5px;
        padding-bottom: em(18.5px, 15px);

        border-block-end: 0.2px solid rgba(0, 0, 0, 0.15);
        .summary-text-container {
          display: flex;
          flex-direction: column;
          gap: 4px;
        }
        .stay-summary-text {
          color: lighten($clr3, 5%);
          font-size: em(22px, 15px);
          margin-bottom: 8px;
        }
        .capacity {
          font-family: airBnb-Reg;
          font-size: em(16px, 15px);
          font-weight: 400;
        }
      }

      .host-img {
        border-radius: 50%;
        width: 56px;
        height: 56px;
        box-shadow: 0 0 0 1px #ede8e8;
      }

      .stay-highlights {
        font-family: airBnB-Reg;
        padding: 22px 0 6px;

        border-block-end: 0.2px solid rgba(0, 0, 0, 0.15);
        .highlight-element {
          display: flex;
          align-items: flex-start;
          gap: 16px;
          margin-bottom: 26px;
        }
        .highlight-header {
          color: lighten($clr2, 5%);
          font-size: em(16px, 15px);
          font-weight: 600;
          margin-bottom: 4px;
        }
        .highlight-txt {
          font-size: em(14px, 15px);
          color: rgba($clr2, 0.7);
        }
      }

      .stay-summary-long {
        font-family: airBnB-Reg;
        font-size: em(16px, 15px);
        padding: 32px 0 48px;

        border-block-end: 0.2px solid rgba(0, 0, 0, 0.15);
        .show-more {
          text-decoration: underline;
          font-size: em(16px, 15px);
          font-weight: 600;
        }
        p,
        button {
          margin: 0;
          padding: 0;
        }
        p {
          max-width: 100%;
          line-height: 1.4em;
        }
      }

      .amenities-container {
        font-family: airBnB-Reg;
        font-size: 1em;

        padding-top: em(49px, 15px);

        .amenities-header {
          color: lighten($clr2, 20%);
          margin-bottom: em(18px, 15px);
        }
        .amenities-list {
          columns: 2;
          margin-bottom: em(28px, 15px);

          .amenity-item {
            .cancelled {
              text-decoration: line-through;
            }

            display: flex;
            align-items: center;
            gap: 1.2em;
            margin-bottom: 1em;
          }
        }

        .more-amenities {
          margin-bottom: em(52px, 15px);
          .btn-show-amenities {
            width: fit-content;
            padding: 13px 20px;
            border: 1px solid black;
            font-family: airBnB-Med;
            font-size: em(16px, 15px);
            letter-spacing: 0.01em;

            border: 1px solid black;
            border-radius: 8px;
          }
          .btn-show-amenities:hover {
            cursor: pointer;
          }
        }
      }
    }

    .reserve-section {
      flex-basis: 42%;
      text-align: center;
      padding-top: 48px;

      .reserve-modal-full {
        position: sticky;
        top: em(140px, 15px);
        width: em(370.33px, 15px);
        // height: em(532px, 15px);
        border-radius: 12px;
        box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
        border: 1px solid rgb(221, 221, 221);
        margin-inline-end: 0;
        margin-inline-start: auto;
        margin-block-end: em(52px, 15px);
        padding: 20px 24px 24px;

        .modal-header {
          font-family: airBnb-Reg;
          margin-bottom: em(18px, 15px);
          .modal-header-price {
            font-family: airBnb-Med;
            font-size: em(22px, 15px);
            // font-weight: 600;
            line-height: em(26px, 15px);
          }
          .modal-header-text {
            font-size: em(16px, 15px);
          }

          .rating-reviews {
            font-size: em(14px, 15px);
          }

          .reviews-amount {
            color: rgb(113, 113, 113);
            font-weight: 600;
            text-decoration: underline;
          }
        }
        .pax-dates-container {
          border-radius: 8px;
          // box-shadow: 0 0 0 1px $clr5;
          outline: 1px solid $clr6;
          margin-bottom: em(11px, 15px);

          .dates {
            display: flex;
            border: 0;
            border-block-end: 1px solid lighten($clr3, 55%);
            p {
              margin: 0;
            }
            &:hover {
              // outline: 1px solid $clr2;
              border-radius: rem(8px);
              // border: 0;
              // outline: 0;
              box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset !important;
            }
            .check-in {
              flex-basis: 50%;

              text-align: left;
              font-family: airBnB-Reg;
              font-size: em(10px, 15px);
              font-weight: 600;
              padding: 8px 0;
              padding-left: $box-padding;

              border-inline-end: 1px solid lighten($clr3, 55%);

              .dates-txt {
                font-size: em(13px, 10px);
                font-family: airBnb-Reg;
                font-weight: 400;
                letter-spacing: 0.04em;
              }
            }
            .checkout {
              flex-basis: 50%;

              text-align: left;
              padding: 8px 0;
              padding-left: $box-padding;
              font-family: airBnB-Reg;
              font-size: em(10px, 15px);
              font-weight: 600;

              .dates-txt {
                font-size: em(13px, 10px);
                font-family: airBnb-Reg;
                font-weight: 400;
                letter-spacing: 0.04em;
              }
            }
          }

          .pax {
            position: relative;
            text-align: left;
            padding: 8px 0 10px;
            padding-left: $box-padding;
            font-family: airBnB-Reg;
            font-size: em(10px, 15px);
            font-weight: 600;
            &:hover,
            &.selected {
              border-radius: rem(8px);
              box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset;
            }
            p {
              margin: 0;
            }

            .pax-txt {
              font-size: em(13px, 10px);
              font-family: airBnb-Reg;
              font-weight: 400;
              letter-spacing: 0.04em;
            }

            .reserve-arrow {
              padding: 10px 18px 0 0;
            }
            .add-guests {
              position: absolute;
              z-index: 10;
              bottom: 0;
              transform: translateY(-20px);
              right: 0;
              width: 100%;
              // border-radius: rem(4px) !important;
              .add-guests-modal {
                box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px,
                  rgba(0, 0, 0, 0.07) 0px 0px 0px 1px !important;
                border-radius: rem(4px) !important;
                padding: 16px;
                width: 100%;
                > * {
                  min-height: 56px !important;
                  min-width: auto;
                  width: 100%;
                }
              }
            }
          }
        }

        .btn-reserve {
          width: 100%;
          align-self: center;

          border-radius: 8px;

          background-color: rgb(220, 15, 99);
          color: white;
          font-size: 1em;
          font-family: airBnB-Reg;
          font-weight: 700;
          letter-spacing: 0.08em;

          margin-bottom: em(16px, 15px);
        }

        .modal-rates {
          border-block-end: 0.2px solid rgba(0, 0, 0, 0.15);
          margin-top: em(10.5px, 15px);

          .underline {
            text-decoration: underline;
          }
        }
        .modal-rates > * {
          width: 100%;
          font-family: airBnb-Reg;
          font-size: em(16px, 15px);
          margin-bottom: 1em;
        }

        .modal-total {
          margin-top: em(22px, 15px);
        }
      }
    }
  }
  .reviews-container {
    font-family: airBnB-Reg;
    padding-top: 3.5em;
    margin-bottom: em(16px, 15px);

    border-block-start: 0.2px solid rgba(0, 0, 0, 0.15);
    border-block-end: 0.2px solid rgba(0, 0, 0, 0.15);

    .reviews-header {
      margin-bottom: em(17px, 15px);
      .title {
        margin-bottom: em(34px, 15px);
      }
      .rating-reviews {
        font-family: airBnB-Med;
        font-size: em(22px, 15px);
        color: lighten($clr3, 5%);
      }

      .reviews-kpis-list {
        width: 100%;
        columns: 2;

        .review-item {
          margin-bottom: 18px;
          .kpi-title {
            letter-spacing: 0.02em;
          }
          .rate-container {
            font-size: em(12px, 15px);
            padding-right: em(120px, 15px);
            gap: em(12px, 15px);
          }
          .kpis {
            height: 4px;
            width: em(152px);
            background-color: $clr6;
            border-radius: 2em;

            .cleanliness,
            .communication,
            .check-in,
            .accuracy,
            .location,
            .value {
              height: 4px;
              width: em(4.6/5 * 152px);
              background-color: $clr2;
              border-radius: 2em;
            }
            .cleanliness {
              width: em(4.6/5 * 152px);
            }
            .communication {
              width: em(5/5 * 152px);
            }
            .check-in {
              width: em(4.8/5 * 152px);
            }
            .accuracy {
              width: em(4.9/5 * 152px);
            }
            .location {
              width: em(4.8/5 * 152px);
            }
            .value {
              width: em(4.8/5 * 152px);
            }
          }
        }
      }
    }

    .reviews-details {
      display: grid;
      grid-template-columns: repeat(2, em(457.33px, 15px));
      grid-auto-flow: row dense;
      column-gap: em(108px, 15px);

      > *:not(:nth-child(odd), .more-reviews) {
        padding-left: em(5px, 15px);
      }

      .more-reviews {
        margin-bottom: em(52px, 15px);
        .btn-show-reviews {
          width: fit-content;
          padding: 13px 20px;
          border: 1px solid black;
          font-family: airBnB-Med;
          font-size: em(16px, 15px);
          letter-spacing: 0.01em;

          border: 1px solid black;
          border-radius: 8px;
        }
        .btn-show-reviews:hover {
          cursor: pointer;
        }
      }
    }
  }
}