.stay-reviews {
  .reviews-container {
    font-family: airBnB-Reg;
    padding-top: 3.5em;
    margin-bottom: em(16px, 15px);

    border-block-start: 0.2px solid rgba(0, 0, 0, 0.15);
    border-block-end: 0.2px solid rgba(0, 0, 0, 0.15);

    .reviews-header {
      margin-bottom: em(17px, 15px);

      .title {
        margin-bottom: em(34px, 15px);
      }
      .rating-reviews {
        font-family: airBnB-Med;
        font-size: em(22px, 15px);
        color: lighten($clr3, 5%);

        :first-child {
          margin-left: 2px;
        }
      }

      .reviews-kpis-list {
        width: 100%;
        columns: 2;
        gap: em(120px, 15px);

        @include for-mobile-layout {
          columns: 1;
        }

        @include for-narrow-layout {
          columns: 2;
        }

        .review-item {
          margin-bottom: 18px;
          .kpi-title {
            letter-spacing: 0.02em;
          }
          .rate-container {
            font-size: em(12px, 15px);
            gap: em(12px, 15px);

            @include for-mobile-layout {
              padding-right: 0;
            }

            @include for-narrow-layout {
              padding-right: 0;
            }

            @include for-normal-layout {
              padding-right: 8em;
            }
          }
          .kpis {
            height: 4px;
            width: em(152px);
            background-color: $clr6;
            border-radius: 2em;

            .cleanliness,
            .communication,
            .check-in,
            .accuracy,
            .location,
            .value {
              height: 4px;
              width: em(4.6/5 * 152px);
              background-color: $clr2;
              border-radius: 2em;
            }
            .cleanliness {
              width: em(4.6/5 * 152px);
            }
            .communication {
              width: em(5/5 * 152px);
            }
            .check-in {
              width: em(4.8/5 * 152px);
            }
            .accuracy {
              width: em(4.9/5 * 152px);
            }
            .location {
              width: em(4.8/5 * 152px);
            }
            .value {
              width: em(4.8/5 * 152px);
            }
          }
        }
      }
    }

    .reviews-details {
      display: grid;
      grid-template-columns: repeat(2, minmax(auto, em(457.33px, 15px)));
      grid-auto-flow: row dense;
      column-gap: em(108px, 15px);

      @include for-mobile-layout {
        grid-template-columns: minmax(auto, em(457.33px, 15px));
      }

      @include for-narrow-layout {
        grid-template-columns: repeat(2, minmax(auto, em(457.33px, 15px)));
      }

      > *:not(:nth-child(odd), .more-reviews) {
        padding-left: em(5px, 15px);
      }

      .more-reviews {
        margin-bottom: em(52px, 15px);
        .btn-show-reviews {
          width: fit-content;
          padding: 13px 20px;
          border: 1px solid black;
          font-family: airBnB-Med;
          font-size: em(16px, 15px);
          letter-spacing: 0.01em;

          border: 1px solid black;
          border-radius: 8px;
        }
        .btn-show-reviews:hover {
          cursor: pointer;
        }
      }
    }
  }
}
