.charts-container {
    // position: sticky;
    // top: 9.3333333333em;
    flex-basis: 25%;
    border-radius: 12px;
    // box-shadow: $clr7 0px 2px 16px;
    margin-block-start: 20px;
    margin-inline-end: 0;
    margin-inline-start: auto;
    margin-block-end: 16px;
    // margin-block-end: 24px;
    padding: 20px 24px 24px;
    height: fit-content;

    .status-chart-h3{
        margin: -24px;
    }
    #doughnut-chart {
        margin-block: 24px;
    }
}