header {
  &.menu-open {
  }
  background-color: $clr8;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  &.main-header {
    .logo {
      color: $clr1;
      span {
        font-family: airBnb-B;
        color: $clr1;
      }
      span {
        font-size: 20px;
        padding-left: 5px;
      }
    }
  }
  .loggedin-user {
    background-color: $clr1;
    padding: 2px 8px;
    border-radius: 1em;
    align-self: flex-end;
    color: whitesmoke;
    span {
      background-color: $clr2;
      padding: 4px;
      margin: 10px;
      border-radius: 50%;
    }
    img {
      width: 2em;
      height: 2em;
      border-radius: 50%;
    }
  }

  .mini-search {
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }
    outline: 1px solid $clr6;
    padding-inline: 8px;
    border-radius: 2em;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    button {
      margin: 0;
      padding: 0 16px;
      // font-size: rem(12.2px);
      font-size: 14px;
      font-family: airBnb-Med;
    }
    input {
      cursor: pointer;
        border: 0;
        max-width: 93px;
        text-align: center;
        font-size: 14px;
        font-family: "airBnb-Med";
        &::placeholder {
          font-family: airBnb-Reg;
          color: $clr4;
        }
    }
    div.search {
      color: $clr8;
      font-size: 16px;
      border-radius: 50%;
      background-color: $clr1;
      padding: rem(4px);
      width: 32px;
      height: 32px;
    }
  }
  nav {
    cursor: pointer;
    background-color: $clr8;
    border-radius: rem(21px);
    width: rem(77px);
    outline: 1px solid $clr6;
    padding: 5px 5px 5px 12px;
    transition: box-shadow 0.2s ease;
    img {
      width: rem(30px);
      border-radius: 50%;
      margin-inline-start: 2px;
    }
    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }
  }
  nav a:not(:first-child) {
    border-top: 1px solid $clr1;
    padding: 0 5px;
    margin: 10px;
  }
  nav .active {
    color: $clr1;
  }

  .break-line {
    height: rem(20px);
    outline: 1px solid $clr6;
  }
}

.header-container {
  &.main-container-stay-details {
    position: absolute;
    .mini-search {
      width: 300px;
      justify-content: space-between;
      & > *:not(:first-child):not(:last-child) {
        display: none;
      }
    }
  }
  &.main-layout-list {
    .mini-search {
      & > :first-child {
        display: none;
      }
    }
  }
  position: fixed;
  width: 100%;
  background-color: $clr8;
  z-index: 20;
  top: 0;
  border-bottom: 1px solid $clr7;
  height: $header-height;
  transition: height 0.8s;
  &.search-open {
    height: calc($header-height * 2);
  }
}

.main-screen {
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
  /* display: none; */
  opacity: 1;

  transition: opacity 0.6s;
  pointer-events: auto;
}
