.dates {
  position: relative;
  z-index: 20;
  > div:not(:last-of-type) {
    z-index: 10;
    border-radius: 0px 8px 8px 0px;
    outline: 1px solid $clr6;
}
>div:first-of-type{
        border-radius: 8px 0 0 8px;
    }
}

.dates-modal {
  position: absolute;
  bottom: 0;
  background-color: $clr8;
  padding: 24px 32px 16px;
  text-align: left;
  background-color:transparent;
  .el-date-editor.el-date-editor--daterange.el-input__wrapper {
    input {
      display: none;
    }
    span {
      display: none;
    }
  }
  .el-popper.is-pure.is-light.el-picker__popper {
    transform: translate(336px, 170px);
    border-radius: 1em;
    padding: rem(5px);
    padding-top: 4.75rem;
    bottom: 0;
    border: 0;
    max-width: 770px;
    // box-shadow: none;
    // box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px;
    z-index: 1 !important;
    position: absolute !important;
    inset: -190.833px 44.1667px auto auto !important;
    &::before {
      content: "Select dates";
      position: absolute;
      top: 4%;
      font-size: 22px;
      left: 4%;
    }

    .el-picker-panel__content.el-date-range-picker__content{
        padding: 0 em(13px);

        .el-date-table .el-date-table-cell{
            width: 40px !important;
        }

        td{
            width: 40px !important;
        }

        td.next-month{
            display: none;
        }
    }
  }


}

.dates:has(div.dates-modal:has(.available.in-range.start-date)) {
    background-color: blue;
}
