.secondary-header {
  outline: 1px solid $clr6;
  border-radius: 2em;
  justify-content: space-evenly;
  height: 66px;
  max-width: 848px;
  margin: auto;
  &.selected {
    background-color: $clr7;
  }
  > *:hover:not(.break-line):not(.selected) {
    background-color: $clr6;
    & + .break-line {
      display: none;
    }
  }
  > .selected {
    background-color: $clr8;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid $clr8;
    z-index: 10;
  }

  > *:not(.break-line) {
    border-radius: 2rem;
    cursor: pointer;
  }
  .add-guests-container {
    position: relative;
  }
  label {
    padding: 14px 24px;
    cursor: pointer;
    p {
      font-size: rem(12px);
      font-family: airBnb-Med;
      margin: 0;
    }
    span {
      font-size: rem(14px);
      color: $clr4;
    }
    input {
      background-color: transparent;
      border: 0;
      font-family: "airBnb-Med";
      &::placeholder {
        font-family: "airBnB-Reg";
      }
      &:focus {
        outline: none;
      }
      max-width: 100px;
    }
    &.date {
      max-width: 260px;
    }
  }
  .break-line {
    height: rem(36px);
  }

  .search-container {
    color: $clr8;
    min-height: 48px;
    min-width: 48px;
    font-size: 16px;
    border-radius: 50%;
    transition: border-radius 0.2s, padding 0.3s;
    &:hover{
      background-image:radial-gradient(
      circle at calc((0 + var(--positionX, 0)) * 10%)
        calc((0 + var(--positionY, 0)) * 5%),
      rgb(241, 37, 75) 0%,
      rgb(230, 30, 77) 27.5%,
      rgb(227, 28, 95) 40%,
      rgb(215, 4, 102) 57.5%,
      rgb(189, 30, 89) 75%,
      rgb(189, 30, 89) 100%
    );
    }
    &.element-selected {
      border-radius: 2em;
      padding-inline-start: 15px;
    }
    span {
      padding: 10px;
      font-family: "airBnb-Med";
    }
    background-color: $clr1;
  }
  .gradient-button {
    .content{
      border-radius: 2em;
      .search-big{
        color: $clr8;
      }
      span{
        font-family: 'airBnb-Reg';
        padding-left: 10px;
      }
    }
    .btn-container {
      margin: 0;
      min-width: 111px;
      transform: translateX(-18px);
      border-radius: 2em;
    }
  }

  .check-in-out {
    gap: 37px;
  }
}

.add-guests-container {
  max-width: 270px;
  input {
    cursor: pointer;
  }
}

.add-guests-modal {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(105%);
  max-height: calc(100vh - 150px);
  background-color: $clr8;
  border-radius: 2rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
  > * {
    min-width: 330px;
    padding-block: rem(24px);
    padding-inline-end: rem(4px);
    &:not(:first-child) {
      border-top: 1px solid $clr6;
    }
    div:first-of-type {
      p {
        font-size: 1rem;
      }
      span {
        font-size: rem(14px);
      }
    }
  }
  button {
    border: 1px solid $clr6;
    max-width: 32px;
    width: 32px !important;
    height: 32px;
    color: $clr4;
  }
}
