.stay-details {
  font-family: airBnb-Med;
  grid-column: 2;
  .details-header > * {
    font-family: airBnb-Med !important;
    font-weight: 500 !important;
    font-size: em(26px, 15px) !important;
    line-height: 1.6em !important; //(in the context of 18px of h1, this should be 30px)

    margin-block-start: 24px !important;
    margin-block-end: 0;
  }

  .rate {
    display: flex;
    align-items: center;
  }

  .details-ratings-container {
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-family: airBnb-Med;
    font-size: em(14px, 15px);

    .address,
    .reviews-amount {
      text-decoration: underline;
      .separator {
        margin: 0 0.57em; //8px in the context of 14px
        text-decoration: none;
      }
    }
    .address:hover,
    .reviews-amount:hover {
      cursor: pointer;
    }
    .separator {
      margin: 0 0.3em;
      text-decoration: none;
    }
  }

  .rate .star-svg {
    font-size: em(16px, 14px);
    padding-bottom: 0.1em;
  }

  .stay-details-container {
    display: flex;
    justify-content: space-between;

    .action-btns {
      display: flex;
      gap: 0.3em;

      font-size: em(14px, 15px);
      text-decoration: underline;
    }
    .action-btn {
      display: flex;
      align-items: center;
      padding: 0 8px;
      gap: 8px;
    }
    .action-btn:hover {
      cursor: pointer;
    }
    .reviews-rates-container {
      display: flex;
      justify-content: flex-start;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: minmax(326px, 560px) repeat(2, minmax(155px, 272px));
    grid-template-rows: repeat(2, minmax(164px, 243px));
    grid-template-areas:
      'img0 img1 img2'
      'img0 img3 img4';
    gap: em(8px, 15px);

    margin-top: 24px;

    border-radius: 0.75em;
    overflow: hidden;
    width: fit-content;

    .img0 {
      grid-area: img0;
      max-height: 493.4px;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5 {
      max-height: 246.69px;
    }

    .img1 {
      grid-area: img1;
    }

    .img2 {
      grid-area: img2;
    }

    .img3 {
      grid-area: img3;
    }

    .img4 {
      grid-area: img4;
    }

    .img5 {
      grid-area: img5;
    }

    .gallery-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // aspect-ratio: 1.1/1;
    }
  }

  .details-reserve-container {
    display: flex;

    .summary-and-details {
      flex-basis: 58%;
      // width: 58%;
      font-family: airBnb-Med;
      .summary-container {
        display: flex;
        justify-content: space-between;

        padding-top: 48px;
        padding-bottom: 24px;

        border-block-end: 0.2px solid rgba(0, 0, 0, 0.15);
        .summary-text-container {
          display: flex;
          flex-direction: column;
          gap: 4px;
        }
        .stay-summary-text {
          color: lighten($clr3, 5%);
          font-size: em(22px, 15px);
          margin-bottom: 8px;
        }
        .capacity {
          font-family: airBnb-Reg;
          font-size: em(16px, 15px);
          font-weight: 400;
        }
      }

      .host-img {
        border-radius: 50%;
        width: 56px;
        height: 56px;
        box-shadow: 0 0 0 1px #ede8e8;
      }

      // hr {
      //   width: 0.2em;
      // }

      .stay-highlights {
        font-family: airBnB-Reg;
        padding: 22px 0 6px;

        border-block-end: 0.2px solid rgba(0, 0, 0, 0.15);
        .highlight-element {
          display: flex;
          align-items: flex-start;
          gap: 16px;
          margin-bottom: 26px;
        }
        .highlight-header {
          color: lighten($clr2, 5%);
          font-size: em(16px, 15px);
          font-weight: 600;
          margin-bottom: 4px;
        }
        .highlight-txt {
          font-size: em(14px, 15px);
          color: rgba($clr2, 0.7);
        }
      }

      .stay-summary-long {
        font-family: airBnB-Reg;
        font-size: em(16px, 15px);
        padding: 32px 0 48px;

        border-block-end: 0.2px solid rgba(0, 0, 0, 0.15);
        .show-more {
          text-decoration: underline;
          font-size: em(16px, 15px);
          font-weight: 600;
        }
        p,
        button {
          margin: 0;
          padding: 0;
        }
      }
    }

    .reserve-section {
      flex-basis: 42%;
      text-align: center;
      padding-top: 48px;

      .reserve-modal-full {
        width: em(370.33px, 15px);
        height: em(532px, 15px);
        border-radius: 12px;
        box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
        margin-inline-end: 0;
        margin-inline-start: auto;
        padding: 24px;
      }
    }
  }
}
