.main-container-stay-details {    
    .sticky-header {
        position: fixed;
        justify-content: flex-start;
        padding: 0;
        height: $header-height;
        width: 100%;
        background-color: $clr8;
        // box-shadow: rgb(0 0 0 / 10%) 0px 1px 0px;

        .btn-sticky-nav {
            margin: 0 em(24px, 15px) 0 0;
            padding: 0;
        }

        .btn-sticky-nav:hover {
            box-shadow: inset 0 -4px 0px 0px $clr2;
        }
    }
}