.carousel .carousel__viewport {
  display: flex;
  max-width: 900px;

  button:not(.el-carousel__button, .el-carousel__arrow) {
    padding: 0 !important;
    margin: 0 !important;
    min-width: 28px !important;
    min-height: 28px !important;
    border: 1px solid $clr4;
    border-radius: 50%;
    background-color: $clr8;
    color: $clr2;
    backdrop-filter: drop-shadow(10px 10px 10px $clr8);
    transition: box-shadow 0.2s ease;
  }

  // .carousel__track li:first-child::after {
  //   content: "";
  //   width: 40px;
  //   height: 100%;
  //   background-image: linear-gradient(
  //     to left,
  //     rgba(255, 255, 255, 0),
  //     white 40px
  //   );
  //   z-index: 1;
  //   position: absolute;
  //   left: 0;
  // }
  // .carousel__track li:last-child::before {
  //   content: "";
  //   width: 40px;
  //   height: 100%;
  //   background-image: linear-gradient(
  //     to right,
  //     rgba(255, 255, 255, 0),
  //     white 40px
  //   );
  //   z-index: 1;
  //   position: absolute;
  //   right: 0;
  // }

  button:not(.el-carousel__button, .el-carousel__arrow):hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    // transform: scale(1.04)
  }

  .carousel__track {
    padding: 0;
    gap: 36px;
    font-family: airBnb-Med;
    color: $clr4;
    list-style: none;

    .carousel__slide {
      width: max-content !important;
      div {
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: em(8px, 15px);
        margin-top: 12px;
        padding: 4px 0 14px;

        button {
          border: transparent;
        }
      }
    }
    

    .carousel__slide:hover {
      color: $clr2;
      box-shadow: inset 0px -2px 0px 0px $clr5;
    }

    img {
      display: block;
      width: 1em;
      height: 1em;
    }

    .label-name {
      display: block;
      font-size: em(12px, 15px);
    }
  }
}

section.carousel.labels-container:has(div:first-of-type):has(ol):has(
    li:first-child.carousel__slide--active
  )
  > button:first-of-type, 
section.carousel.labels-container:has(div:first-of-type):has(ol):has(
    li:last-child.carousel__slide--active
  )
  > button:last-of-type {
  display: none;
}
