.carousel {
  display: flex;
  max-width: calc(100% - 90px);

  button:not(.el-carousel__button, .el-carousel__arrow) {
    padding: 0;
    margin: 0;
    min-width: 28px !important;
    min-height: 28px !important;
    border: 1px solid $clr4;
    border-radius: 50%;
    background-color: $clr8;
    color: $clr2;
    backdrop-filter: drop-shadow(10px 10px 10px $clr8);
    transition: box-shadow 0.2s ease;
    // z-index: 10;
  }

  .carousel__prev::after{
    content: "";
    width: 40px;
    height: 100%;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white 40px);
    z-index: -1;
    position: absolute;
    right: -42px;
  }
  .carousel__next::before{
    content: "";
    width: 40px;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white 40px);
    z-index: -1;
    position: absolute;
    left: -42px;
  }

  button:not(.el-carousel__button, .el-carousel__arrow):hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    // transform: scale(1.04)
  }

  .carousel__viewport {
    padding-inline: 86px;
  }

  .carousel__track {

    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(max-content, 1fr));
    grid-auto-columns: max-content;
    gap: 4em;
    font-family: airBnb-Med;
    color: $clr4;
    list-style: none;

    .carousel__slide {
      width: max-content !important;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: em(8px, 15px);
    }

    .carousel__pagination {
      display: none !important;
    }

    // &::before {
    //   content: '⬅️';
    // }
    img {
      display: block;
      width: 1em;
      height: 1em;
    }

    .label-name {
      font-size: em(12px, 15px);
    }
  }
}