.stay-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
    pre {
        background-color: #ddd;
        font-size: .5em;
        color: #333;
        padding: .2em;
        margin: .2em;
    }    
}



