    .card {
        background-color: $clr8;
        aspect-ratio: 1 /1;
        color: $clr2;
        line-height: rem(19px);
        
        .img-container {
            position: relative;
            border-radius: .75em;
            overflow: hidden;
            aspect-ratio: 1 / 0.94;

            .wishlist{
                position: absolute;
                top: .75em;
                right: .75em;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                align-self: center;
            }

            .el-carousel__button, .el-carousel__indicator--horizontal{
                border-radius: 50%;
                height: 5px !important;
                width: 5px !important;
            }

        }
        p{
            margin: 0 0 3px;
            color: $clr4;
        }

        .price{
            padding-top: em(6px);
            color: $clr2;
            
            span {
                font-family: airBnb-Med;                
            }
        }
        
        .title{
            padding-top: em(12px);
            p{
                font-family: airBnb-Med;
                color: $clr2;
            }
            span {
                margin-inline-start: 3px;
            }
        }

    }