* {
  box-sizing: border-box;
}

html {
  font-family: airBnb-Reg;
  line-height: rem(19px);
  color: $clr2;
}

body {
  font-size: rem(15px);
  letter-spacing: 0.01rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.6em;
  line-height: 1;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
  max-width: 40ch;
}

a {
  text-decoration: none;
  color: $clr2;
}

// Transition

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}