.fs14 {
  font-size: em(14px);
}
.fs16 {
  font-size: em(16px);
}
.fs18 {
  font-size: em(18px);
}
.fs22 {
  font-size: em(22px);
}

.bold {
  font-family: airBnb-Med;
}

.text-center {
  text-align: center;
}

.l-grey {
  color: $clr5;
}

.underline {
  text-decoration: underline;
}
// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-space-between {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center;
  }
}

.self-start {
  align-self: flex-start;
}
.self-center {
  align-self: center;
}
.self-end {
  align-self: flex-end;
}

.grid {
  display: grid;
}

// Media helpers

.square-ratio {
  @include aspect-ratio(1, 1);
}
.video-ratio {
  @include aspect-ratio(16, 9);
}
.portrait-ratio {
  @include aspect-ratio(9, 16);
}

.header,
.sub-header {
  font-family: airBnB-Med;
  margin-bottom: em(32px);
}

.header-reg,
.sub-header-reg {
  font-family: airBnB-Reg;
  margin-bottom: em(32px);
}

.clean-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}
.clean-margin {
  margin: 0;
}

.main-screen {
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
  opacity: 1;

  transition: opacity 0.6s;
  pointer-events: auto;
}
