// .container {
//     max-width: 1500px;
//     padding: 10px;
// }

.main-container {
  display: grid;
  grid-template-columns: minmax(rem(40px), auto),
    minmax(auto, 1200px) minmax(rem(40px), auto);

  > * {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }
  }

  @include for-narrow-layout {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, $mobile-breakpoint) minmax(
        20px,
        1fr
      );
  }

  @include for-normal-layout {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, $narrow-breakpoint) minmax(
        20px,
        1fr
      );
  }

  @include for-wide-layout {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, $normal-breakpoint) minmax(
        20px,
        1fr
      );
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.4rem;
}

.main-container-stay-details {
  display: grid;

  @include for-normal-level2-layout {
    // background-color: yellow;
  }

  @include for-wide-layout {
    grid-template-columns: minmax(auto, 16px) minmax(auto, 960px) minmax(
        auto,
        16px
      );
    // background-color: white;
  }

  @include for-wide-level2-layout {
    grid-template-columns: minmax(rem(40px), auto) minmax(auto, 1120px) minmax(
        rem(40px),
        auto
      );
  }

  grid-template-columns: 16px 1fr 16px;
  // background-color: green;

  > * {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }
  }
}

.main-layout-list {
  display: grid;
  // grid-template-columns: rem(80px) 1fr rem(80px);
  grid-template-columns: minmax(40px, 1fr) minmax(auto, 1750px) minmax(
      40px,
      1fr
    );

  > * {
    grid-column: 2;
  }
}
