* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: airBnb-Reg;
    line-height: rem(19px);
    color: $clr2;
}

body {
    // font-family: Airbnb-Lt;
    font-size: rem(15px);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    // font-family: caveat;
    margin: 0 0 0.6em;
    line-height: 1;
}


section, main, footer {
    padding: 5px;
}

// img {
//     width: 100%;
// }

p {
    margin: 0 0 1em;
    max-width: 40ch;
}

a {
    text-decoration: none;
    color: $clr2;
    // &:hover {
    //     text-decoration: underline;
    // }
}


