// Font Sizes
// .fs12 {
//   font-size: rem(12px);
// }
// .fs14 {
//   font-size: rem(14px);
// }
// .fs18 {
//   font-size: rem(18px);
// }
// .fs20 {
//   font-size: rem(20px);
// }
// .fs24 {
//   font-size: rem(24px);
// }
// .fs28 {
//   font-size: rem(28px);
// }
.fs14 {
  font-size: em(14px);
}
.fs16 {
  font-size: em(16px);
}
.fs18 {
  font-size: em(18px);
}
.fs22 {
  font-size: em(22px);
}

.text-center {
  text-align: center;
}
// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-space-between {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center;
  }
}

.grid {
  display: grid;
}

// Media helpers

.square-ratio {
  @include aspect-ratio(1, 1);
}
.video-ratio {
  @include aspect-ratio(16, 9);
}
.portrait-ratio {
  @include aspect-ratio(9, 16);
}

.header,
.sub-header {
  font-family: airBnB-Med;
  margin-bottom: em(32px);
}

.clean-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
