@font-face {
    // font-family: caveat;
    // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    font-family: airBnb-Reg;
    src: url(../fonts/AirBnb/Airbnb_Cereal-Book.ttf);
}
@font-face {
    font-family: airBnb-Med;
    src: url(../fonts/AirBnb/Airbnb_Cereal-Medium.ttf);
}
@font-face {
    font-family: airBnb-B;
    src: url(../fonts/AirBnb/Airbnb_Cereal-Bold.ttf);
}

// @font-face {
//     font-family: Airbnb-Lt, sans-serif;
//     src: url(../fonts/AirBnb/AirbnbCereal_W_Lt.otf) format("opentype");
// }