@font-face {
    // font-family: caveat;
    // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    font-family: montserrat-Reg;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserrat-Med;
    src: url(../fonts/montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: montserrat-B;
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}

// @font-face {
//     font-family: Airbnb-Lt, sans-serif;
//     src: url(../fonts/AirBnb/AirbnbCereal_W_Lt.otf) format("opentype");
// }