// Colors
$clr1: #FF385C;
$clr2: #000000;
$clr3: #222222;
$clr4: #717171;
$clr5: #B0B0B0;
$clr6: #DDDDDD;
$clr7: #EBEBEB;
$clr8: #FFFFFF;

// sizes

$header-height: 80px;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;