// Colors
$clr1: #ff385c;
$clr2: #000000;
$clr3: #222222;
$clr4: #717171;
$clr5: #b0b0b0;
$clr6: #dddddd;
$clr7: #ebebeb;
$clr8: #ffffff;

// sizes

$header-height: 80px;

$box-padding: 8px;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
