@font-face {
    font-family: airBnb-Reg;
    src: url(../fonts/AirBnb/Airbnb_Cereal-Book.ttf);
}
@font-face {
    font-family: airBnb-Med;
    src: url(../fonts/AirBnb/Airbnb_Cereal-Medium.ttf);
}
@font-face {
    font-family: airBnb-B;
    src: url(../fonts/AirBnb/Airbnb_Cereal-Bold.ttf);
}